@model test3.Models.Expozitie

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expozitie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeExpozitie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeExpozitie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemaExpozitiei)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemaExpozitiei)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInceperii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInceperii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinalizarii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFinalizarii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExpozitieID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
