@model test3.Models.Expozitie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expozitie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeExpozitie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeExpozitie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemaExpozitiei)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemaExpozitiei)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInceperii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInceperii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinalizarii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFinalizarii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExpozitieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
