@model IEnumerable<test3.Models.Expozitie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeExpozitie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemaExpozitiei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInceperii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinalizarii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeExpozitie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemaExpozitiei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInceperii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinalizarii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExpozitieID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExpozitieID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExpozitieID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
