@model test3.Models.Expozitii

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expozitii</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume_expozitie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume_expozitie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numar_exponate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numar_exponate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numar_vizitatori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numar_vizitatori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tema_expozitiei)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tema_expozitiei)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_inceperii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_inceperii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_incheierii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_incheierii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExpozitieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
