@model IEnumerable<test3.Models.Expozitii>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume_expozitie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numar_exponate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numar_vizitatori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tema_expozitiei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_inceperii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_incheierii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume_expozitie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar_exponate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar_vizitatori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tema_expozitiei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_inceperii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_incheierii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExpozitieID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExpozitieID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExpozitieID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
