@model test3.Models.Bilete

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bilete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_achizitionarii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_achizitionarii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valabilitate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valabilitate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpozitieID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpozitieID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VizitatorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VizitatorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie_bilet_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie_bilet_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BiletID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
